body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1260px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.item {
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
    width: 350px;
    height: 500px;
    padding: 20px;
}

.item p {
    color: gray;
}
