h1 {
    /* margin: 100px; */
    /* margin: 100px 50px; */
    /* margin: 100px 50px 10px 5px; */
    /* margin-left: ;*/
    /* margin-right: ; */
    /* margin-top: ; */
    /* margin-bottom: ; */

    /* padding: 100px 50px 5px 10px; */
    /* padding-left: ; */
    /* padding-right: ; */
    /* padding-top: ; */
    /* padding-bottom: ; */

    /* padding: 50px;
    margin: 10px;

    color: burlywood;
    background-color: #d72638;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */

    /* border: 10px double rgb(56, 33, 33); */

    /* border-style: double;
    border-width: 10px;
    border-color: rgb(56, 33, 33); */

    /* 
    margin, 
    padding, 
    color, 
    background-color, 
    text-align, 
    font-family, 
    border */
}
p {
    background: blue;
}
